body {
  margin: 0;
  padding: 2em;
  padding-top: 5em;
  padding-bottom: 10em;
  font-family: Arial;
  font-weight: bold;
  background-color: #d6e8d4;
  line-height: 1.5;
}

button {
	-webkit-appearance: none;
}
